.aqi-container {
  text-align: center;
  height: auto;
  overflow: visible;
}

.aqi-bar {
  position: relative;
  height: 12px;
  border-radius: 6px;
  background: linear-gradient(
    to right,
    #2ecc71,
    /* Good */ #f1c40f,
    /* Fair */ #e67e22,
    /* Moderate */ #e74c3c,
    /* Poor */ #8e44ad /* Very Poor */
  );
  margin: 0 auto;
  width: 90%;
  margin-bottom: 10px;
}



.aqi-advice {
  font-size: 12px;
}
