.custom-footer {
  border-radius: 12px;
  color: var(--bg-color);
  font-size: 0.95rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.custom-footer a {
  color: var(--primary-box-color);
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.custom-footer a:hover {
  color: var(--bg-color);
  text-shadow:
    0 0 6px var(--accent-box-color),
    0 0 12px var(--accent-box-color),
    0 0 18px var(--accent-box-color);

}
