.humidity-container {
  text-align: center;
}

.humidity-bar {
  background: linear-gradient(
    to right,
    #b2ebf2,
    /* light cyan */ #4dd0e1,
    /* turquoise */ #0097a7 /* teal */
  );
  border-radius: 6px;
  height: 12px;
  margin-bottom: 10px;
  margin: 0 auto;
  position: relative;
  width: 90%;
}
