.uv-container {
  text-align: center;
}

.uv-bar {
  position: relative;
  height: 12px;
  border-radius: 6px;
  background: linear-gradient(
    to right,
    #2ecc71,
    #f1c40f,
    #e67e22,
    #e74c3c,
    #8e44ad
  );
  margin: 0 auto;
  width: 90%;
  margin-bottom: 10px;
}

.uv-advice {
  font-size: 12px;
}
