.vis-container {
  text-align: center;
}

.vis-bar {
  background: linear-gradient(
    to right,
    #2ecc71,
    #f1c40f,
    #e67e22,
    #e74c3c,
    #8e44ad
  );
  border-radius: 6px;
  height: 12px;
  margin: 0 auto 10px auto; /* center horizontally and add bottom margin */
  position: relative;
  width: 90%;
}

.vis-advice {
  font-size: 12px;
  margin-top: 4px;
}
