:root {
  --bg-color: white;
  --text-color: black;
}

.dark-mode {
  --bg-color: black;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}

.App {
  margin: 1em;
}

.title {
  font-size: 20px;
  align-items: center;
}

.dial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.needle {
  position: absolute;
  top: 10%;
  left: 49%;
  width: 2px;
  height: 40%;
  background-color: red;
  transform-origin: bottom center;
  transition: transform 0.3s ease-in-out;
}

.indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5468;
  border: 2px solid white;
  filter: drop-shadow(0 0 4px #a29bfe);
  transition: all 0.3s ease;
}

.value {
  font-size: 28px;
  font-weight: bold;
}

.label {
  font-size: 18px;
}
